/* Allgemeines Styling */
body {
  font-family: Arial, sans-serif;
  background-image: url(./assets/friedhof.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Vollbildsteuerung */
#fullscreen-controls {
  position: absolute;
  top: 2vh;
  right: 2vh;
  display: flex;
  gap: 2vh;
}

#fullscreen-controls button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 8px;
  padding: 1vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#fullscreen-controls button:hover {
  background-color: rgba(13, 136, 68, 0.8);
}

#fullscreen-controls .material-icons {
  font-size: 3vw;
  color: white;
}



#poker-table {
  position: relative;
  width: 79vh;
  height: 51vh;
  background: url("assets/tisch.png") no-repeat center;
  background-size: cover;
  margin: 2vh 0;
  background-position: center;
}

/* Gemeinschaftskarten */
#community-cards {
  position: absolute;
  top: 50%; /* Zentriert in der Mitte des Tisches */
  left: 50%; /* Zentriert in der Mitte des Tisches */
  transform: translate(-50%, -50%); /* Exakte Zentrierung */
  display: flex;
  flex-direction: column; /* Pot über den Karten */
  align-items: center; /* Zentriert Pot und Karten */
  gap: 1vw; /* Abstand zwischen Pot und Karten */
}

#pot {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  color: rgb(231, 177, 0);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1vh 2vh;
  border-radius: 8px;
  z-index: 1;
}

.card-placeholder-container {
  display: flex; /* Karten horizontal nebeneinander */
  gap: 1vw; /* Abstand zwischen den Karten */
}

.card-placeholder {
  width: 6vh;
  height: 9vh;
  border: 0.5vh solid rgba(3, 102, 47, 0.2);
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
}

/* Karten */
.card {
  width: 6vh;
  height: 9vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  text-align: center;
  animation-duration: 0.5s; /* Dauer der Animation */
  animation-fill-mode: forwards; /* Animation bleibt im Endzustand */
  margin-bottom: 0.5vw;
}

.card .value {
  font-size: 3vh;
  font-weight: bold;
}

.card .suit {
  font-size: 5vh;
}

.card.red .value,
.card.red .suit {
  color: red;
}

.card.black .value,
.card.black .suit {
  color: black;
}

/* Spieler */
.player {
  position: absolute;
  width: 15vw;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 0.5vw;
  text-align: center;
  font-size: 1.3vh;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#player1 {
  bottom: -12%;
  left: 50%;
  transform: translateX(-50%);
}
.player-image1 {
  background-image: url(./assets/you.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#player2 {
  bottom: 20%;
  left: 5%;
  transform: translate(-50%, 50%);
}
.player-image2 {
  background-image: url(./assets/Lord.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#player3 {
  top: 20%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.player-image3 {
  background-image: url(./assets/lady.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#player4 {
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.player-image4 {
  background-image: url(./assets/hannibal.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#player5 {
  top: 20%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.player-image5 {
  background-image: url(./assets/mephisto.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#player6 {
  bottom: 20%;
  left: 95%;
  transform: translate(-50%, 50%);
}
.player-image6 {
  background-image: url(./assets/sauron.jpg);
  background-size: cover;
  height: 6vw;
  width: 15vw;
  border-top-left-radius: 10px;  /* Obere linke Ecke */
  border-top-right-radius: 10px; /* Obere rechte Ecke */
  margin-bottom: 0.3vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Marker */
.marker {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6vw;
  visibility: hidden;
  position: absolute;
}

.marker.d {
  color: black;
  background-image: url(./assets/bronze-sb.jpg);
  background-size: cover;
  right: -6%;
  top: -4%;
  border: 1px solid rgba(253, 253, 253, 0.1);
  transform: scale(0.8);
}

.marker.bb {
  color: rgb(255, 255, 255);
  background-image: url(./assets/rot-bb.jpg);
  background-size: cover;
  left: -3%;
  top: -3%;

  border: 1px solid rgba(98, 0, 0, 0.9);
}

.marker.sb {
  color: black;
  background-image: url(./assets/gold-bb.jpg);
  background-size: cover;
  left: -6%;
  top: -4%;
  border: 1px solid rgba(111, 78, 2, 0.2);
  transform: scale(0.8);
}

.cards {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

/* Bet-Positionen */
.bet {
  position: absolute;
  font-size: 1.vw;
  font-weight: bold;
  color: #ffffff;

  padding: 1vw;
  text-align: center;
}

/* Positionen für die Bets */
#player1 .bet {
  bottom: 105%; /* Über Spieler 1 */
  left: 50%;
  transform: translateX(-50%);
}

#player2 .bet {
  top: 20%; /* Rechts neben Spieler 2 */
  left: 120%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#player3 .bet {
  top: 80%; /* Rechts unter Spieler 3 */
  left: 120%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#player4 .bet {
  top: 105%; /* Unter Spieler 4 */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#player5 .bet {
  top: 80%; /* Links unter Spieler 5 */
  left: -25%;
  transform: translate(-50%, -50%);
}

#player6 .bet {
  top: 20%; /* Links über Spieler 6 */
  left: -25%;
  transform: translate(-50%, -50%);
}

.chips {
  color: #ffd700;
  font-size: 1.6vh;
  font-weight: bold;
  margin: 0.5vw 0;
}

@keyframes dealCard {
  from {
    transform: translateX(
      -150vw
    ); /* Startpunkt: links außerhalb des Bildschirms */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Endpunkt: Normale Position */
    opacity: 1;
  }
}


/* Steuerung */
#controls {
  display: flex;
  align-items: center; /* Zentriert vertikal */
  justify-content: space-evenly; /* Gleicher Abstand zwischen allen Elementen */
  gap: 2vw; /* Einheitlicher Abstand zwischen den Elementen */
  width: 100%; /* Nimmt die volle Breite des Containers */
  max-width: 80vw; /* Optionale Begrenzung der Breite */
  flex-wrap: nowrap; /* Verhindert Umbrechen */

  margin-top: 5vh;
}
#button-controls {
  display: flex;
  align-items: center; /* Zentriert vertikal */
  justify-content: center; /* Elemente zentriert horizontal */
  gap: 2vw; /* Gleicher Abstand zwischen den Buttons */
  flex-wrap: wrap; /* Ermöglicht das Umbrechen, falls nötig */
}

button {
  padding: 1.2vw 1.5vw;
  background-color: rgba(13, 136, 68, 0.5);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

button:hover {
  background-color: #006e2e;
  transform: scale(1.05);
 
  box-shadow: 0px 0px 4px 2px rgba(255, 252, 103, 0.3), 0px 0px 8px 5px rgba(0, 0, 0, 0.7);
}


/* Styling für den Bet Slider Container */
#bet-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.5vw;
}

.slider-wrapper {
  display: flex;
  align-items: center; /* Horizontale Ausrichtung */
  gap: 1vw; /* Abstand zwischen Slider und Wert */
}

#bet-slider {
  width: 20vw; /* Breite des Sliders */
}

#bet-value {
  font-size: 2vw;
  font-weight: bold;
  color: #ffd700; /* Goldene Farbe */
}
#raise-amount {
  width: 12vw; /* Breite erhöhen */
  font-size: 1.5vw; /* Schriftgröße des Textes */
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  height: 4vw; /* Erhöht die Höhe des Eingabefelds */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 12px;
}

/* Styling für größere Pfeile im Input */
#raise-amount::-webkit-inner-spin-button,
#raise-amount::-webkit-outer-spin-button {
  height: 5vw; /* Höhe der Pfeile */
  width: 8vw; /* Breite der Pfeile */
 
}

/* Button Controls */
#button-controls {
  display: flex;
  gap: 1vw; /* Abstand zwischen den Buttons */
}
